<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Welcome!
        {% endblock %}
    </title>
    {% block meta %}
    {% endblock %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block css %} 
        <link rel="stylesheet" href="css/base.css">
    {% endblock %}
</head>
<body>

    {% block body %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</body>
</html>